{if $item.del == 1}
  <div class="clearfix"></div>
  <div style="text-align:center;color:red;">本回答内容已经被删除</div>
{else}
  <a href="/user/show/{$item.userid}/{$item.name}/" target="_blank">
    <img src="{$item.image}" width="24" style="float:right;border-radius:3px;">
  </a>
  <div class="jsvote" style="float:left;" threadid="{$thread.id}" replyid="{$item.id}" vote="{$item.userVote}" userid="{$item.userid}"></div>
  <div style="margin-left:25px;">
    <div class="muted">
      <a href="/user/show/{$item.userid}/{$item.name}/" class="muted" target="_blank">
        {$item.name}
      </a> 
      回复于 {$item.createtime}
      {if $item.createtime<>$item.updatetime && $thread.updatedate<>0}
        ｜ 更新于 {$thread.updatetime}
      {/if}
      <br/>
      <span id="voteinfo-{$item.id}">
        {if $item.voteInfo.likeusers}
          {foreach from=$item.voteInfo.likeusers item=vote}
            <a href="/user/show/{$item.userid}/" class="muted" target="_blank">{$vote.username}</a> 
          {/foreach} 
          等{$voteInfo.likecount}人欣赏。
        {else}
          无人欣赏。
        {/if}
      </span>
      <span id="dislikeinfo-{$item.id}">
        {if $item.voteInfo.dislikecount>0}
          {$item.voteInfo.dislikecount}人反对。
        {/if}
      </span>
    </div>
    <div style="padding:2px;">
      {$item.content}
    </div>
    {if $userid==$item.userid}
      <div style="text-align:right;">
        <a href="/thread/editreply/{$item.id}/">编辑</a>
      </div>
    {/if}
  </div>
{/if}