<div class="row">
  <div class="span8" itemscope itemtype="http://schema.org/Article">
    <div class="content-unit">
      <meta itemprop="thumbnailUrl" content="http://tiny4cocoa.com/newsupload/{$news.filename}_s.{$news.ext}"/>
      <h1 class="title" itemprop="name">{$news.title}</h1>
      <hr/>
      <div style="text-align:center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- tiny4cocoa贴后(自适应) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7732761529337293"
             data-ad-slot="5932802608"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>  
      <p class="desc">by <span itemprop="author">{$news.author}</span></p>
      <div class="content">
        {$news.content}
        <p>原文地址：<a href="{$news.link}">{$news.link}</a></p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>

  <div class="span4">
    
    <div class="siderbar-unit">
      <strong>置顶</strong>
      {foreach from=$toplist item=link}
  	  <div class="newsblock">
        <a href="{$link.link}">
          {$link.title}
        </a>
      </div>
      {/foreach}
    </div>
    
    <div class="siderbar-unit">
      <div style="text-align:center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- tiny4cocoa贴后(自适应) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7732761529337293"
             data-ad-slot="5932802608"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>

    <div class="siderbar-unit">
      最新帖子
      <div class="threadblock">
        <ul>
          {foreach from=$threads item=item}
            <li>          
              <a href="/thread/show/{$item.id}/">{$item.title}</a>
            </li>
          {/foreach}   
        </ul>
      </div> 
    </div>
    
    <div class="siderbar-unit">
      <strong>苹果新闻</strong>
      {foreach from=$applenews item=item}
  	  <div class="newsblock">
        {if $item.image}
          <img src="{$item.image}" width="40" style="float:left;">
        {/if}
        <div style="margin-left:50px;">
        <a href="/apple/n/{$item.id}/">
          {$item.title}
        </a>
      </div>
      </div>
      {/foreach}
      <p class="threadfootnote"><a href="/apple/">查看更多</a></p>
    </div>
    
  </div>
</div>
