<style>
   .heroicon {
     
     width:24px;
     height:24px;
     float:left;
     
   }
</style>
<div class="row">

<div class="span7">
  <div class="content-unit">
    <div style="text-align:right;">
      <a href="/thread/new/" class="btn btn-success">发 布 新 帖</a>
    </div>
    <div style="padding: 10px;margin-bottom: 30px;">
      <p class="pull-right">
        <a href="/thread/">最新</a> | <a href="/thread/hot/">最热</a> | <a href="/thread/cold/">最冷</a>
      </p>
      {$content}
    </div>
  </div>
  </div>

<div class="span5">
  
  <div class="siderbar-unit">
    <strong>十大社区英雄</strong>
	  <div class="newsblock">
      {foreach from=$users item=user}
          <div style="float:left;text-align:center;width:80px;height:76px;">
            <a href="/user/show/{$user.uid}/{$user.username}/" target="_blank">
              <img src="{$user.image}" width="60" height="60" title="{$user.username}"
               style="margin-top:8px;border-radius: 30px;"/>
            </a>
          </div>
      {/foreach}
      <div class="clearfix"></div>
    </div>
  </div>

    <div class="siderbar-unit">
    <strong>移民和海外工作导引</strong>
    <div class="newsblock">
      <ul>
        <li>美国
          <ul>
            <li>
              <a href="/thread/show/2715/" target="_blank">
                美国移民的情况
              </a>
              by 
              <a href="/user/show/26393/TCGG/"  target="_blank">TCGG</a>
            </li>
            <li>
              <a href="/thread/show/2749/" target="_blank">
                说说国内码工在美国找工作的事儿
              </a>
              by 
              <a href="/user/show/25623/Brownie/"  target="_blank">Brownie</a>
            </li>
          </ul>
        </li>

        <li>澳大利亚
          <ul>
            <li>
              <a href="/thread/show/2092/" target="_blank">
                澳洲生活宝典
              </a>
              by 
              <a href="/user/show/22986/灵感之源/"  target="_blank">灵感之源</a>
            </li>

            <li>
              <a href="/thread/show/2210/" target="_blank">
                国外（指澳洲为主）木有你想象的好，正如，中国木有你想象的差
              </a>
              by 
              <a href="/user/show/23429/minddriven/"  target="_blank">minddriven</a>
            </li>

            <li>
              <a href="/thread/show/2471/" target="_blank">
                浅谈移民国外(澳洲)的坏处
              </a>
              by 
              <a href="/user/show/13226/fisherv1/"  target="_blank">fisherv1</a>
            </li>

            <li>
              <a href="/thread/show/2454/" target="_blank">
                澳洲真的不是除了畜牧、旅游和矿石之外没有其它耀眼的东西的。
              </a>
              by 
              <a href="/user/show/23869/sumtec/"  target="_blank">sumtec</a>
            </li>

            <li>
              <a href="/thread/show/2557/" target="_blank">
                移民澳洲 前端开发工作情况汇报
              </a>
              by 
              <a href="/user/show/25965/nosir/"  target="_blank">nosir</a>
            </li>

          </ul>
        </li>

        <li>新西兰
          <ul>
            <li>
              <a href="/thread/show/2709/" target="_blank">
                新西兰IT技术移民个人经历
              </a>
              by 
              <a href="/user/show/26364/alexcheng/"  target="_blank">alexcheng</a>
            </li>

          </ul>
        </li>


        <li>日本
          <ul>
            <li>
              <a href="/thread/show/2544/" target="_blank">
                给考虑去日本发展的码农们
              </a>
              by 
              <a href="/user/show/25660/hashmap/"  target="_blank">hashmap</a>
            </li>

            <li>
              <a href="/thread/show/2545/" target="_blank">
                也分享一下我在日本的观感
              </a>
              by 
              <a href="/user/show/25944/行者2014/"  target="_blank">行者2014</a>
            </li>

          </ul>
        </li>

        <li>瑞士
          <ul>
            <li>
              <a href="/thread/show/2354/#floor13" target="_blank">
                关于瑞士一些问题的回答
              </a>
              by 
              <a href="/user/show/25495/打呼噜的可爱/"  target="_blank">打呼噜的可爱</a>
            </li>

          </ul>
        </li>

        <li>英国
          <ul>
            <li>
              <a href="/thread/show/2584/" target="_blank">
                英国移民、工作、生活概述
              </a>
              by 
              <a href="/user/show/25995/yoroto/"  target="_blank">yoroto</a>
            </li>

          </ul>
        </li>

        <li>法国
          <ul>
            <li>
              <a href="/thread/show/2552/" target="_blank">
                凑个热闹，谈下法国码农生活及移民的那点事儿
              </a>
              by 
              <a href="/user/show/25952/猴子请来的逗比/"  target="_blank">猴子请来的逗比</a>
            </li>

          </ul>
        </li>

        <li>加拿大
          <ul>
            <li>
              <a href="/thread/show/2498/#floor5" target="_blank">
                如何看待加拿大发布的最新签证消息？
              </a>
              by 
              <a href="/user/show/999/virushuo/"  target="_blank">virushuo</a>
            </li>

          </ul>
        </li>

        <li>马来西亚
          <ul>
            <li>
              <a href="/thread/show/2572/" target="_blank">
                讲讲马来西亚的移民状况
              </a>
              by 
              <a href="/user/show/25978/BobYeoh/"  target="_blank">BobYeoh</a>
            </li>

          </ul>
        </li>

        <li>新加坡
          <ul>
            <li>
              <a href="/thread/show/2575/" target="_blank">
                新加坡IT就业移民讨论
              </a>
              by 
              <a href="/user/show/737/huPanDa/"  target="_blank">huPanDa</a>
            </li>

          </ul>
        </li>

        <li>一般讨论
          <ul>
            <li>
              <a href="/thread/show/1673/" target="_blank">
                你为什么不移民？
              </a>
              by 
              <a href="/user/show/2/tinyfool/"  target="_blank">tinyfool</a>
            </li>

            <li>
              <a href="/thread/show/2218/" target="_blank">
                90后的我来谈谈对移民的看法吧
              </a>
              by 
              <a href="/user/show/24988/ryanshell/"  target="_blank">ryanshell</a>
            </li>

            <li>
              <a href="/thread/show/2151/" target="_blank">
                因为人口红利问题才移的民
              </a>
              by 
              <a href="/user/show/23869/sumtec/"  target="_blank">sumtec</a>
            </li>

            <li>
              <a href="/thread/show/2319/" target="_blank">
                馅饼不是天上掉下来，移民要自己努力
              </a>
              by 
              <a href="/user/show/22986/灵感之源/"  target="_blank">灵感之源</a>
            </li>

            <li>
              <a href="/thread/show/2502/" target="_blank">
                谨慎思考移民
              </a>
              by 
              <a href="/user/show/23869/sumtec/"  target="_blank">sumtec</a>
            </li>

            <li>
              <a href="/thread/show/211/" target="_blank">
                如果你打算移民，或者已经移民，你为什么舍得离开中国？
              </a>
              by 
              <a href="/user/show/22986/灵感之源/"  target="_blank">灵感之源</a>
            </li>


            <li>
              <a href="/thread/show/2226/" target="_blank">
                国内外的一些数据对比，想移民的朋友，可以用来参考
              </a>
              by 
              <a href="/user/show/22218/vincent1q84/"  target="_blank">vincent1q84</a>
            </li>

          </ul>
        </li>


      </ul>
    </div>
  </div>

</div>

</div>
